.page-about-us {
    background-color: #f5f5f5;
    color: #333;
    padding: 50px;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    width: 80%;
}

.timeline-icon {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.timeline-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .timeline-container {
        width: 95%;
    }

    .timeline-item {
        width: 100%;
    }
}
