.info-page {
    background-color: #440C0C;
    color: #ffffff;
    padding: 40px 0;
    font-family: 'League Gothic', sans-serif;
}

.info-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-columns {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.footer-column {
    width: 22%;
}

.footer-column h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;
}

.footer-list li a:hover {
    color: #FFA07A;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-social-media a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-social-media a:hover {
    color: #FFA07A;
}

.footer-legal {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .footer-columns,
    .footer-social-media {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .container {
        width: 95%;
    }
}

.footer-columns {
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 75%;
}

@media screen and (max-width: 1080px) {
    .footer-column h3 {
        font-size: 20px;
    }

    .footer-legal {
        font-size: 14px;
    }

    .info-container {
        width: 90%;
    }
}

@media screen and (max-width: 680px) {
    .footer-column {
        width: 48%;
        margin-bottom: 15px;
    }

    .footer-column h3 {
        font-size: 18px;
    }

    .footer-list li a {
        font-size: 14px;
    }

    .footer-social-media a {
        margin: 0 5px;
    }

    .footer-legal {
        font-size: 12px;
    }
}



@media screen and (max-width: 495px) {
    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
    }

    .footer-column h3,
    .footer-list li a,
    .footer-legal {
        font-size: 16px;
    }
}


@media screen and (max-width: 360px) {
    .info-container {
        width: 95%;
    }

    .footer-column h3 {
        font-size: 16px;
    }

    .footer-list li a {
        font-size: 12px;
    }

    .footer-legal {
        font-size: 11px;
    }
}
