.grid-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 20px;
}

.grid-header {
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.grid-cell {
    background-color: #303030;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .grid-table {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-table .grid-cell {
    color: white !important; /* Ensures text color is white and overrides other styles */
}

